.deitor_main_container {
  width: 100%;
  margin: auto;
  padding-bottom: 400px;
  background-color: #f3f3f3;
}

.deitor_navbar_main_container {
  max-width: 1280px;
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #e7e7e7;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Active & disable tools__ */

.active_tool {
  font-size: 16px;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 8px;
  background-color: #1d1d1d;
}

.disable_tool {
  background-color: #ffffff;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* Undo and resu tool__ */

.deitor_nevbar_undo_and_redo_container button {
  margin: 0 10px;
}

.undo {
  padding: 10px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #ffffff;
}

.undo:active {
  background-color: #f0f0f0;
}

.redo {
  padding: 10px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #ffffff;
}

.redo:active {
  background-color: #f0f0f0;
}

/* Heading section__ */

.deitor_nevbar_heading_container select {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
}

/* Color section__ */

.editor_navbar_colot_tool_container input {
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

/* Tools section one__ */

.editor_navbar_tools_section_one_container {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tools section two__ */

.editor_navbar_tools_section_two_container {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tools section three__ */

.editor_navbar_tools_section_three_container {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tools section four__ */

.editor_navbar_tools_section_fourth_container {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Text page__ */

.deitor_text_page_container {
  max-width: 1024px;
  margin: auto;
  margin-top: 50px;
}

.editor_content {
  min-height: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.editor_content .ProseMirror  {
  flex: 1;
  overflow-y: auto;
  outline: none;
}


.deitor_text_page_container button {
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 500;
  padding: 10px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: #079207;
}

.deitor_text_page_container button:hover {
  background-color: #078307;
}
.deitor_text_page_container button:active {
  background-color: #057505;
}